{% extends 'base.html.twig' %}

{% block title %}Início{% endblock %}

{% block body %}
{% for success in app.flashes('success') %}
<div class="alert alert-info alert-dismissible fade show container text-center fixed-top swing" role="alert">
    {{ success }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if cattles is empty %}
<div class="d-flex flex-column align-items-center">
    <h4>
        Não há animais cadastrados no sistema!!
    </h4>
    <a href="{{ path('new_cattle') }}" class="btn btn-primary">Adicionar um registro</a>
</div>

{% else %}
<h1 class="title-page">{{ titlePage }}</h1>
<div class="subtitle-page">
    <small>{{ subTitle }}</small>
</div>

{% block formSearch %}
<label for="search">Insira uma data para busca:</label>
<form action="{{ path('search_cattle') }}" method="post" class="d-flex mb-5" role="search">
    <input class="form-control me-2" id="search" name="search" type="date" aria-label="Search">
    <button class="btn btn-primary" type="submit">Buscar</button>
</form>
{% endblock %}

<div>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">Cod</th>
                <th scope="col">Qntd de leite (L)</th>
                <th scope="col">Qntd de ração (Kg)</th>
                <th scope="col">Peso (Kg)</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">slaughter</th>
                <th scope="col">#</th>
            </tr>
        </thead>

        <tbody>
            {% for cattle in cattles %}
            <tr class="text-center">
                <th scope="row">{{ cattle.cod }}</th>
                <td>{{ cattle.milk }}</td>
                <td>{{ cattle.weekportion }}</td>
                <td>{{ cattle.cattleweight }}</td>
                <td>{{ cattle.birth.format('d/m/Y') }}</td>
                <td>
                    {% if cattle.slaughter %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}
                </td>
                <td>
                    {% set index = cattle.id %}
                    <a href="{{ path('show_cattle', { id: cattle.id })}}" class="btn btn-outline-primary btn-sm">
                        <i class="fa-solid fa-eye"></i>
                    </a>

                    <a href="{{ path('update_cattle', { id: cattle.id }) }}" class="btn btn-outline-primary btn-sm">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>

                    <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                        data-bs-target="#confirmDelete{{ index }}">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>

                <!-- Modal -->
                <div class="modal fade" id="confirmDelete{{ index }}" aria-labelledby="confirmDeleteLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="confirmDeleteLabel">Excluir item</h1>
                                <button type="button" class="btn-close text-bg-warning" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                Após deletar este registro, não será possível recuperálo. Deseja prosseguir?
                            </div>

                            <div class="modal-footer">
                                <a href="{{ path('delete_cattle', { id: index }) }}" class="btn btn-outline-danger">
                                    Excluir
                                </a>
                                <button type="button" class="btn btn-outline-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1 class="title-page">Relatórios</h1>
    <small class="subtitle-page">Relatórios gerais</small>

    {# Card com relatórios #}
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">Total de leite por semana</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
