{% extends 'base.html.twig' %}

{% block title %}Início{% endblock %}

{% block body %}
{% for success in app.flashes('success') %}
<div class="alert alert-info alert-dismissible fade show container text-center fixed-top swing" role="alert">
    {{ success }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if data.cattles is empty %}
<div class="d-flex flex-column align-items-center">
    <h4>
        Não há animais cadastrados no sistema!!
    </h4>
    <a href="{{ path('new_cattle') }}" class="btn btn-primary">Adicionar um registro</a>
</div>

{% else %}
{% block content %}
<h1 class="title-page">{{ data.titlePage }}</h1>
<div class="subtitle-page">
    <small>{{ data.subTitle }}</small>
</div>

{% block formSearch %}
<label for="search">Insira uma data para busca:</label>
<form action="{{ path('search_cattle') }}" method="post" class="d-flex mb-5" role="search">
    <input class="form-control me-2" id="search" name="search" type="date" aria-label="Search">
    <button class="btn btn-primary" type="submit">Buscar</button>
</form>
{% endblock %}

<div>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">Cod</th>
                <th scope="col">Qntd de leite (L)</th>
                <th scope="col">Qntd de ração (Kg)</th>
                <th scope="col">Peso (Kg)</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">slaughter</th>
                <th scope="col">#</th>
            </tr>
        </thead>

        <tbody>
            {% for cattle in data.cattles %}
            <tr class="text-center">
                <th scope="row">{{ cattle.cod }}</th>
                <td>{{ cattle.milk }}</td>
                <td>{{ cattle.weekportion }}</td>
                <td>{{ cattle.cattleweight }}</td>
                <td>{{ cattle.birth.format('d/m/Y') }}</td>
                <td>
                    {% if cattle.slaughter %}
                    Sim
                    {% else %}
                    Não
                    {% endif %}
                </td>
                <td>
                    {% set index = cattle.id %}
                    <a href="{{ path('show_cattle', { id: cattle.id })}}" class="btn btn-outline-primary btn-sm">
                        <i class="fa-solid fa-eye"></i>
                    </a>

                    <a href="{{ path('update_cattle', { id: cattle.id }) }}" class="btn btn-outline-primary btn-sm">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>

                    <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                        data-bs-target="#confirmDelete{{ index }}">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>

                <!-- Modal -->
                <div class="modal fade" id="confirmDelete{{ index }}" aria-labelledby="confirmDeleteLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="confirmDeleteLabel">Excluir item</h1>
                                <button type="button" class="btn-close text-bg-warning" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                Após deletar este registro, não será possível recuperálo. Deseja prosseguir?
                            </div>

                            <div class="modal-footer">
                                <a href="{{ path('delete_cattle', { id: index }) }}" class="btn btn-outline-danger">
                                    Excluir
                                </a>
                                <button type="button" class="btn btn-outline-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% block pagination %}
        {{ knp_pagination_render(data.cattles) }}
    {% endblock %}
{% endblock %}
    
    {% block reports %}
    <h1 class="title-page">Relatórios</h1>
    <small class="subtitle-page">Relatórios gerais</small>

    {# Card com relatórios #}
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="reports" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-secondary fw-bold active" id="milk-tab" data-bs-toggle="tab" data-bs-target="#milk"
                        type="button" role="tab" aria-controls="milk" aria-selected="true">Leite por semana</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-secondary fw-bold" id="portion-tab" data-bs-toggle="tab" data-bs-target="#portion"
                        type="button" role="tab" aria-controls="portion" aria-selected="false">Ração por semana</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-secondary fw-bold" id="alimentation-tab" data-bs-toggle="tab" data-bs-target="#alimentation"
                        type="button" role="tab" aria-controls="alimentation" aria-selected="false">Alimentação animal</a>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <div class="tab-content" id="reportContent">
                <div class="tab-pane fade show active" id="milk" role="tabpanel" aria-labelledby="milk-tab">
                    <p class="card-text">A quantidade total de leite produzido por semana foi de {{ report.milk }} litros.</p>
                </div>
                <div class="tab-pane fade" id="portion" role="tabpanel" aria-labelledby="portion-tab">
                    <p class="card-text">São necessários {{ report.portion }}Kg de ração para esta semana.</p>
                </div>
                <div class="tab-pane fade" id="alimentation" role="tabpanel" aria-labelledby="alimentation-tab">
                    <p class="card-text">Há {{ report.alimentation }} animais com idade de até 1 ano ou que consomem mais de 500kg de ração</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>
{% endif %}
{% endblock %}
