{% extends 'base.html.twig' %}

{% block title %}Início{% endblock %}

{% block body %}

{% for success in app.flashes('success') %}
    <div class="alert alert-info alert-dismissible fade show container text-center fixed-top swing" role="alert">
        {{ success }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<h1 class="title-page">Registros</h1>
<div class="subtitle-page">
    <small>Registros cadastrados no sistema</small>
</div>
 
<div>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Cod</th>
                <th scope="col">Qntd de leite</th>
                <th scope="col">Qntd de ração</th>
                <th scope="col">Peso</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">#</th>
            </tr>
        </thead>

        <tbody>
            {% for cattle in cattles %}
                <tr class="text-center">
                    <th scope="row">{{ cattle.cod }}</th>
                    <td>{{ cattle.milk }}</td>
                    <td>{{ cattle.weekportion }}</td>
                    <td>{{ cattle.cattleweight }}</td>
                    <td>{{ cattle.birth.format('d/m/Y') }}</td>
                    <td>
                        <a href="{{ path('update_cattle', { id: cattle.id }) }}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{{ path('delete_cattle', { id: cattle.id }) }}" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
